@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  /* max-width: 1280px; */
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  padding: 3px;
  color: var(--color-text);
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  text-align: left;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d7d7d7; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #868686; 
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 0%, 0.05);
  }
}

@media (min-width: 765px) {
  #app {
    display: grid;
  }
}
